@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home-container {
    height: calc(100vh - var(--header-height, 80px));
    min-height: unset;
  }
}

@media (max-width: 768px) {
  .homepage-text {
    margin-left: 0 !important; 
    text-align: center; 
  }

  .homepage-text.active {
    background-size: 100% 0.5px; 
  }

  html, body {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
  }
}

.home-container {
  min-height: calc(100vh - var(--header-height, 80px));
}

.header-item {
  @apply h-10 whitespace-nowrap text-black font-sans flex items-center w-auto 
  pl-5 pr-5 bg-[#ada5a56e] hover:bg-black hover:text-[#ffdd00];
}

.header-text {
  @apply hover:text-[#ffdd00] font-bold whitespace-nowrap text-black font-sans transition-transform duration-300;
}

.header-item:hover .header-text {
  @apply text-[#ffdd00] translate-x-2;
}

.active .header-text {
  @apply text-[#ffdd00] ;
}

.active {
  @apply bg-black;
  content: "sdf";
}



.homepage-text {
  @apply relative inline-block text-[#a8a6a6] font-bold cursor-pointer pb-2 transition-colors text-center md:text-left;
  font-size: clamp(4rem, 4vw + 0.5rem, 5rem);
  margin-left: clamp(2rem, 6vw, 9rem);
  background-image: linear-gradient(to right, white 0%, white 100%);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 2px;
  line-height: 1.2;
}


.homepage-text.active {
  @apply text-white border-b-2 border-white pb-2;
  margin-left: clamp(2rem, 8vw, 13rem);
}

.homepage-text.short {
  @apply text-white;
  transition: background-size 0.5s ease-in-out;
  background-size: 100% 2px;
}

.homepage-text.long {
  @apply text-white;
  transition: background-size 2s ease-in-out;
  background-size: 100% 2px;
}

.homepage-description {
  @apply inline-block text-white font-bold cursor-pointer pb-2 text-center;
  font-size: clamp(1rem, 2vw + 0.3rem, 2rem);
}
